{% extends 'base.html' %}

{% block title %} MyReads {% endblock %}

{% block header %} {% endblock %}

{% block content %} 

<div style="color: aliceblue; height: 100%; margin: auto; text-align: center; padding-top: 200px;"><b style="font-size: 4rem; ;">START READING BOOKS NOW!</b>
        
    <p style="text-align: center; padding-top: 20px; font-size: 1.5rem; width: 50%; margin: auto;">At MyReads, we understand the importance of organized and efficient book management. Whether you're an avid reader, a book collector, or someone looking to streamline your library, our platform is designed to meet your needs.</p>
  </div>

{% endblock %}

{% block footer %} {% endblock %}